/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.Poppins {
    font-family: "Poppins", sans-serif;
}

.none {
    display: none;
}

/* shared styles */
.container {
    max-width: 1140px;
    margin: 0 auto;
    border: 1px solid;
    box-sizing: border-box;
    padding: 40px 10px;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    color: rgba(58, 58, 58, 1);
}

.white {
    color: rgba(255, 255, 255, 1);
}

/* main styles */
/* header */
/* navbar */
.nav-info,
.nav-mobile {
    justify-content: space-between;
    align-items: center;
}

.nav-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

nav a {
    text-decoration: none;
}

.nav-list {
    list-style: none;
    gap: 30px;
    font-weight: 600;
}

/* banner */
.banner-section {
    gap: 80px;
}

.banner-info {
    width: 50%;
}

.banner-heading {
    font-size: 3.25rem;
    font-weight: 700;
}

.banner-para {
    font-weight: 600;
    padding-bottom: 20px;
}

.banner-btn {
    padding: 10px 25px;
    font-weight: 700;
    background-color: rgba(224, 44, 109, 1);
    border-radius: 40px;
    border: none;
}

.banner-img {
    width: 50%;
}

.banner-bg-image {
    background: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* logos section */
.logo img{
    padding: 0px 30px;
}
/* products section */
.products-heading{
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px 40px;
}
.products-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card{
    padding:25px 0px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px  40px rgba(0, 0, 0, 0.15);
}
.card h3{
    font-size: 1.875rem;
    font-weight: 500;
    color: rgba(24, 25, 31, 1);
}
.card h4{
    font-size: 1.5rem;
    font-weight: ;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 8px;
}
.card h5{
    color: rgba(251, 130, 0, 1);
    padding-bottom: 5px;
    
}
.rating{
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(94, 99, 102, 1);
    text-align: center;
    padding-left: 8px;
}
.card-para{
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);
}



/* responsive style */
/* mobile responsive */
@media screen and (max-width: 576px) {

    /* navbar */
    .nav-info {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .nav-mobile {
        padding: 20px;
    }

    /* banner */
    .banner-section {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .banner-info {
        width: 100%;
        text-align: center;
    }

    .banner-heading {
        font-size: 1.75rem;
        padding-bottom: 10px;
    }

    .banner-para {
        font-weight: 500;
        font-size: 0.875rem;
    }

    .banner-img img {
        width: 100%;
    }
    /* logo */
.logo img{
    padding: 0px 8px;
}
/* products */
.products-heading{
    font-size: 1rem;
    padding: 10px 0px 20px;
}
.products-section{
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

}