/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.Poppins{
    font-family: "Poppins", sans-serif;
}
.none{
    display: none;
}
/* shared styles */
.container{
    max-width: 1140px;
    margin: 0 auto;
    border: 1px solid;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.black{
    color: rgba(58, 58, 58, 1);
}
.white{
    color: rgba(255, 255, 255, 1);
}
/* navbar */
.nav-info, .nav-mobile{
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
}
.nav-heading{
    font-size: 1.5rem;
    font-weight: 700;
}
nav a{
    text-decoration: none;
}
.nav-list{
    list-style: none;
    gap: 30px;
    font-weight: 600;
}


/* responsive style */
/* mobile responsive */
@media screen and (max-width: 576px){
    /* navbar */
    .nav-info{
    display: none;
}
.mobile-nav{
display: block;
}
 .nav-mobile{
    padding: 20px;
 }
}